<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main> 
        <%if(locals.errorMessage) {%>
        <div class="user-message user-message--error"><%=errorMessage%></div>
      <%}%>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="first_name">First Name</label>
                <input
              
                 type="text" 
                 name="first_name" 
                 id="first_name" 
                 value="<%=locals.original?original.first_name: '' %>"
                 class="<%=locals.validationErrors?locals.validationErrors.some((e)=>e.path==='first_name') ?'invalid':'' :''%>"
                 required>
            </div> <div class="form-control">
                <label for="last_name">Last Name</label>
                <input
                
                 type="text" 
                 name="last_name" 
                 id="last_name" 
                 value="<%=locals.original?original.last_name: '' %>"
                 class="<%=locals.validationErrors?locals.validationErrors.some((e)=>e.path==='last_name') ?'invalid':'' :''%>"
                 required>
            </div> <div class="form-control">
                <label for="email">E-Mail</label>
                <input
                
                 type="email" 
                 name="email" 
                 id="email"    
                 value="<%=locals.original?original.email: '' %>"
                 class="<%=locals.validationErrors?locals.validationErrors.some((e)=>e.path==='email') ?'invalid':'' :''%>"
                 required>
            </div> <div class="form-control">
                <label for="username">Username</label>
                <input
                
                 type="text" 
                 name="username" 
                 id="username" 
                 value="<%=locals.original?original.username: '' %>"
                 class="<%=locals.validationErrors?locals.validationErrors.some((e)=>e.path==='username') ?'invalid':'' :''%>"
                 required>
            </div> 
         
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" 
                name="password" 
                id="password" 
                class="<%=locals.validationErrors?locals.validationErrors.some((e)=>e.path==='password') ?'invalid':'' :''%>"
                required>
            </div>
         
      
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>