<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <%if(locals.errorMessage) {%>
            <div class="user-message user-message--error"><%=errorMessage%></div>
          <%}%>

        <form class="product-form"  method="POST" action=""  enctype="multipart/form-data">
          
        
            <div class="form-control">
                <label for="name">Name</label>
          <input type="text" id="name" name="name" value="<%=locals.original?original.name:""%>" class="<%=locals.validationErrors?locals.validationErrors.some((e)=>e.path==='name') ?'invalid':'' :''%>">
            </div>   
     
            <div class="form-control">
                <label for="manufacturer">Manufacturer</label>
                <select id="manufacturer" name="manufacturer" required>

                 <%if(!locals.original){%>
                        <option hidden disabled  selected value> -- select an option -- </option>
                    <%}%>

                    <%manufacturers.forEach((manufacturer)=>{%>

                           <option  value="<%=manufacturer._id%>" <%=locals.original?locals.original.manufacturer.toString()==manufacturer._id.toString()?'selected':'' :''%>><%=manufacturer.name%></option>

                    <%})%>

                </select>

            </div>  
            
            <div class="form-control">
                <label for="season">Season</label>
                <select id="season" name="season" required>
                    <%if(!locals.original){%>
                        <option hidden disabled  selected value> -- select an option -- </option>
                    <%}%>
                    <%seasons.forEach((season)=>{%>

                           <option value="<%=season._id%>" <%=locals.original?locals.original.season.toString()==season._id.toString()?'selected':'':''%>><%=season.name%></option>

                    <%})%>

                </select>

            </div>  
            
            
            
            
            <div class="form-control">
                <label for="size">Size</label>
                <select id="size" name="size" required>
                    <%if(!locals.original){%>
                        <option hidden disabled  selected value> -- select an option -- </option>
                    <%}%>
                    <%sizes.forEach((size)=>{%>

                           <option value="<%=size._id%>" <%=locals.original?locals.original.size.toString()==size._id.toString()?'selected':'':''%>><%=size.diameter%></option>

                    <%})%>

                </select>

            </div>  
  
                <div class="form-control" >
                    <label for="image">Image</label>
                    <input class="form-control" type="file" name="image" id="image" onchange="preview()">
                    <img id="frame" src='<%=locals.original.image?original.image.imageUrl:""%>' class="img-fluid" />

       
                    <button type="button"  id="clear"  style="display: none;" onclick="clearImage()"class="btn btn-primary mt-3">Clear</button>
                </div>
    
       
    
        
            <div class="form-control">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" id="quantity" value="<%=locals.original? original.quantity : '' %>" 
                class="<%=locals.validationErrors?validationErrors.some((e)=>e.path==='quantity')? 'invalid':'':''%>">
             
            </div>  
            
            <!-- <div class="form-control">
                <label for="name"><%=locals.label?label:'Name'%></label>
                <input type="text" name="name" id="name" value="<%=locals.original? original.name : '' %>" class="<%=locals.errorMessage? 'invalid':''%>">
            </div>     -->

          
          
           
            <button class="btn" type="submit">Submit</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>


<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
        if(frame.src===''){
            document.getElementById('clear').style.display="none"
        }
        else{
            document.getElementById('clear').style.display="block"
        }
    }
    function clearImage() {
        document.getElementById('image').value = null;
        frame.src = "";
        document.getElementById('clear').style.display="none"
    }
   
</script>