<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>


              <section class="jumbotron text-center">
                <div class="container">
                  <h1 class="jumbotron-heading">All Tires <%=locals.subHeading%></h1>
                <% if(locals.subHeading){%>
                
                                     
                                    
                    <%if(locals.owner.main){%>
                      <div class="btn-group justify-content-center">
                      <p>
                        <a  href="<%=item.url%>/update"   class="btn btn-sm btn-outline-secondary my">Edit</a>
                        <form action="<%=item.url%>/delete" method="post"> 
                              <button type="submit"  class="btn danger  btn-sm  btn-outline-secondary" >Delete</button>
                        </form>
                      </p>
                        
                    </div>
                    <%}%>
                
                <%}%>
                  
                </div>
                <%if(locals.errorMessage) {%>
                  <div class="user-message user-message--error"><%=errorMessage%></div>
                <%}%>
              </section>
                <% if (prods.length > 0) { %>
                  
               
                    
                   <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="row">
                            <% prods.forEach((product)=>{%>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                  <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="<%=product.image.imageUrl%>">
                                  <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                       <h4>
                                        <a  href="<%=product.url%>"   ><%=product.name%></a>
                                      
                                       </h4> 
                                       <span class="badge badge-primary badge-pill h6 badge-<%=product.status%>">
                                        <%=product.quantity%>
                                      </span>
                                    </div>
                                   <p class="mb-5 block">
                                    <span class="card-text"><a href="<%=product.manufacturer.url%>"><%=product.manufacturer.name%></a></span> | 
                                    <span class="card-text"><a href="<%=product.season.url%>"><%=product.season.name%></a></span> |
                                    <span class="card-text"><a href="<%=product.size.url%>">Size <%=product.size.diameter%></a></span> 
                                   </p>
                                 
                    

                                 
                               
                                    <div class="d-flex justify-content-between align-items-center">
                             
                                     
                                    
                                        <%if(locals.owner.creator){%>
                                            <a  href="<%=product.url%>/update"   class="btn btn-sm btn-outline-secondary">Edit</a>
                                            <form action="<%=product.url%>/delete" method="post"> 
                                                  <button type="submit"  class="btn danger  btn-sm  btn-outline-secondary" >Delete</button>
                                            </form>
                                         
                                        <%}%>
                                 
                                      
                             
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <%}) %>
                        </div>
                        <%- include('../includes/pagination.ejs') %>
                    </div>
                   
                   </div>
                 
                <% } else { %>
                  <section class="jumbotron text-center nothing">
                    <div class="container">
                      <h1>Nothing Here...</h1>
                      <h3 class="jumbotron-heading"><a href="/tires/add">Add Tire</a></h3>
                    
                     
                    </div>
                  </section>
                <% } %>

                     
            </main>
            <%- include('../includes/end.ejs') %>


          